.color-select {
    list-style: none;
    display: flex;
    padding-left: 0;
}
.color-select li {
    margin: 0 10px 1rem 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.color-select li.selected {
    border: 2px solid dimgrey;
    margin: -2px 8px 1rem -2px;
}
